.note-card-flex-container{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


}

.note-card{
  margin: 5px;
  min-width: 250px;
  max-width: 400px;
}


